<h2><%= @programme.day %></h2>
<h2><%= @programme.venue %></h2>
<h2><%= @programme.description %></h2>
<h2><%= @programme.duration %></h2> 


<%= form_tag "/programmes/#{@programme.id}", method: :delete do%>
  <input type="submit" value="Delete programme">
<% end -%>